<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<div id="app">
    <!--.prevent 修饰符告诉 v-on 指令对于触发的事件调用 event.preventDefault()：-->
    <form action="save" v-on:submit.prevent="onSubmit">
        <label for="username">
            <input id="username" type="text" v-model="user.username">
            <button type="submit">保存</button>
        </label>
    </form>

    <!--
    除了使用插值表达式{{msg}}进行数据渲染，也可以使用 v-bind指令，它的简写的形式就是一个冒号（:）
    -->
    {{message}}
    <h1 v-bind:title="content">hello</h1>
    <h1 :title="content">hello</h1>
    <!-- <img :src="" :alt="" :title=""> -->

    <!--双向数据绑定v-model，无缩写-->
    <input type="text" v-model="message">

    <!--点击事件-->
    <button @click="show">点击</button>
    <button v-on:click="show">点击</button>

    <hr>

    <!-- 1、if成立才会在页面进行渲染，当条件发生改变，导致if（else）不成立，此时，被渲染出的元素，会被销毁 -->
    <span v-if="age>=18">已成年</span>
    <span v-else>未成年</span>

    <!-- 无论条件是否成立，都会渲染，但是通过样式控制是否显示 -->
    <span v-show="age>=18">已成年</span>
    <span v-show="age<18">未成年</span>

    <hr>

    <ul>
        <li v-for="id in ids">{{id}}</li>
    </ul>

    <ul>
        <!--声明index时， index 要写在后边 -->
        <li v-for="(id,index) in ids"> {{index}} {{id}}</li>
    </ul>

    <hr>

    <ul>
        <li v-for="u in userList">{{u.name}}</li>
    </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'hello vue' + new Date().toLocaleString(),
            content: 'vue指令',
            user: {username: ''},
            age: 8,
            ids: [10, 15, 20],
            userList: [{name: 'tom', age: 10}, {name: 'jack', age: 22}]
        },
        methods: {
            show() {
                alert(this.message)
            },
            onSubmit() {
                //表单中的数据校验
                if (this.user.username == '') {
                    alert('请输入用户名')
                } else {
                    alert('提交')
                }
            }
        }
    })
</script>
</body>

</html>